<div class="sortable-item col s12 m4" data-id="<%= portfolio_item.id %>">
  <div class="card">
    <div class="card-image">
      <%= image_tag portfolio_item.thumb_image.to_s unless
      portfolio_item.thumb_image.nil? %>
    </div>
    <div class="card-action">
      <span class="card-title"></span>
      <%= link_to portfolio_item.title, portfolio_path(portfolio_item)
        %>
        </span>
        <p>
          <%= portfolio_item.subtitle %>
        </p>
    </div>
  </div>
</div>