<div class="pages-layout__left"></div>
<div class="pages-layout__right">
  <h1>Hi, I'm Ivan Garcia</h1>
  <p class="pages-layout__description text-flow">
    A fullstack web developer specializing in building web applications for
    clients and businesses all around the world.
  </p>
  <%= link_to about_me_path, class: "waves-effect waves-light btn-large" do %>
  <i class="material-icons left">person_pin</i>
  Learn More <% end %>
  <div class="pages-layout__footer">
    <%= @copyright %>
  </div>
</div>
