<div class="blog-bio__about">
  <h5>About</h5>
  <p>I'm Ivan, born and raised in the Bronx, New York, but currently living in Japan. If you need a developer that will deliver a project on time and within budget, look no further and contact me. </p>
</div>
<div class="blog-bio__social-media">
  <a href="//www.github.com/ivanvgarcia">
    <%= fa_icon "github" %>
  </a>
  <a href="//www.linkedin.com/in/ivan-garcia-64880651/">
    <%= fa_icon "linkedin" %>
  </a>
</div>
