<div class="post">
  <div class="post__actions">
    <%= link_to 'Edit', edit_post_path(post), class: "btn indigo" if
    logged_in?(:site_admin) %>
  </div>
  <h2 class="post__title indigo-text text-darken-3">
    <%= post.title %>
  </h2>
  <p class="post__body">
    <%= post.body %>
  </p>
</div>
