$primary-color: color('indigo', 'darken-4') !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: #ff7070 !default;
$success-color: #4ecdc4 !default;
$error-color: color('red', 'base') !default;

$link-color: color('light-blue', 'darken-1') !default;
$black: #292f36;

body {
  font-family: 'Lato', sans-serif;
}

p {
  letter-spacing: 0.05rem;
  line-height: 1.5;
  font-weight: 100;
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yeon Sung', cursive;
}

button {
  background: $secondary-color;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  &__title {
    margin: 1rem 0;
  }
  &__description {
    padding: 0 20rem;
    text-align: center;
    margin-top: 0;
  }
}

.margin-top {
  margin-top: 2rem !important;
}
